@{
    ViewData["Title"] = "Home";
}

<p class="email">
  
    miguelbacellar17@gmail.com
</p>
<h1 class="telefone">
   <p> (21)97104-5207
    </p>
</h1>
<p class="emailtelefone">
        Email
    </p>
<p class="telefoneemail">
    Telefone
</p>
<div class="profile-icons">
    <img src="/Images/EU.jpg" class="profile-image" alt="Minha Foto">
    <a href="https://github.com/yEIeven" target="_blank">
        <img src="/images/IconGIT.png" class="profile-git" />
    </a>
    <a href="https://x.com/migbaceIIar" target="_blank">
        <img src="/images/IconX.webp" class="profile-x" />
    </a>
    <a href="https://www.linkedin.com/in/miguel-b-515b09202/" target="_blank">
        <img src="/images/IconLI.webp" class="profile-li" />
    </a>
    <a href="https://www.instagram.com/bacellarrrrr/?hl=pt-br" target="_blank">
        <img src="/images/IconINSTG.webp" class="profile-inst" />
    </a>
   
</div>

<div class="button-container">
   
   

   
    <button type="button" class="button-projetos" onclick="location.href='@Url.Action("Projeto", "Home")'">PROJETOS</button>
    <button type="button" class="button-curriculo" onclick="location.href='@Url.Action("Curriculo", "Home")'">CURRÍCULO</button>
  
   
</div>

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Miguel<br>Bacellar</h1>
    </div>

    <div class="align-text-bottom">
        <h1 class="display-9">Developer FullStack</h1>
    </div>

   
</div>

  <div>
     <img src="/images/Lua.png" class="lua" />
     <img src="/images/Sol.png" class="sol" />
  </div>

<div class="blueslash"></div>
<div class="whiterectangle"></div>

<div class="backcube"></div>
<div class="cube"></div>



<div class="sobre">
    <p class="sobre-eu">
        Olá, meu nome é Miguel Bacellar. Tenho 19 anos, sou um desenvolvedor FullStack. Atualmente, estou criando um site para exibir meu currículo, bem como demonstrar meus conhecimentos em <strong>Html, Css, JavaScript e AspNet.</strong> Como também expor minhas habilidades e projetos.
    </p>
</div>
<div class="sobremimcel">Meu Perfil e meus projetos</div>


  <div class="ola">
    <p>Dev <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
  </div>

<div class="sobre">
    <h1 class="aspnet">
       .Net<br>
        Js
    </h1>
</div>


